body {
    font-family: Arial;
    background: #f3f4f6;
    margin: 0;
}

.topbar {
    background: #1d4ed8;
    color: white;
    padding: 15px;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

button {
    background: #1d4ed8;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
}